<%= simple_form_for(@volunteer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-lg-4"><%= f.input :name,  placeholder: "John Doe"%></div>
      <div class="col-lg-4"><%= f.input :phone, placeholder: "(xxx) xxx-xxx" %></div>
      <div class="col-lg-4"><%= f.input :email, placeholder: "your@email.com" %></div>
    </div>


    <div class="row">
      <div class="col-lg-4"><%= f.input :focus, as: :check_boxes, collection: Volunteer::FOCUS, prompt: "Please select interest" %></div>

      <div class="col-lg-8">
        <%= f.input :address %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <%= f.input :essay, hint: "Please tell us a little about your", :input_html => { rows: 10 } %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit Volunteer Form" %>
  </div>
<% end %>
