<!DOCTYPE html>
<html>
  <head>
    <title>Portlandbus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div id="main" class="container">
      <%= render partial: "layouts/header" %>
      <%= yield %>
    </div>
    <%= render partial: "layouts/footer" %>
  </body>
  <%= javascript_include_tag 'application' %>

</html>
